.how-it-works__title {
  margin: 0;
  padding-left: 20px;

  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.how-it-works__list {
  margin: 40px 0 0 0;
  padding: 0 0 50px 20px;

  list-style: none;

  color: #444444;
}
